<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title><%= guest.name %> | Ziventi</title>

    <link rel="stylesheet" href="<%= cssFile %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="<%= fontsUrl %>" rel="stylesheet" />
  </head>

  <body>
    <div id="root">
      <main class="index">
        <div>
          <div class="empty"></div>
          <div class="name">
            <p><%= guest.name %></p>
          </div>
        </div>
        <%- include('svg/signature.svg') %>
      </main>
    </div>
  </body>
</html>
