<main class="index">
  <%- include('/templates/partials/header.ejs') %>
  <div>
    <section>
      <div class="guest">
        <p class="guest-intro">An invitation to:</p>
        <h1 class="guest-name"><%= guest.name %></h1>
        <% if (guest.tagline) { %>
        <p class="guest-tagline">...<%= guest.tagline %></p>
        <% } %>
      </div>
    </section>

    <section>
      <p class="headline-intro">You are cordially invited to...</p>
      <div>
        <figure class="banner"><%- include('/images/banner.svg') %></figure>
        <h1 class="headline">Zavid's 25<sup>th</sup><br />Birthday Banquet</h1>
        <figure class="banner banner-bottom">
          <%- include('/images/banner.svg') %>
        </figure>
      </div>
    </section>

    <section class="address">
      <time>5:30pm - 10:00pm<br />Saturday 11th December 2021</time>
      <address>
        Ivy Suite, Clayton Crown Hotel<br />
        142-152 Cricklewood Broadway<br />
        London, NW2 3ED
      </address>
      <small>
        <span><%- include('/images/marker.svg') %></span>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://g.page/claytoncrownhotel?share"
        >
          Tap to open in Google Maps
        </a>
      </small>
    </section>
  </div>
</main>
