<main class="info">
  <section>
    <p>Have a look at the <a href="<%= lists.guest %>">guest list.</a></p>
    <p>Have a look at the <a href="<%= lists.wish %>">wish list.</a></p>

    <ol class="rules">
      <% rules.forEach((rule) => { %>
      <li>
        <strong><%= rule.summary %>:</strong>
        <span><%= rule.description %></span>
      </li>
      <% }); %>
    </ol>
  </section>

  <%- include('/partials/footer.ejs', { images }) %>
</main>
