<main class="index">
  <div class="main">
    <section>
      <div class="banner"><%- include('/images/banner.svg') %></div>
      <div class="guest">
        <p>An invitation to:</p>
        <h1 class="guest-name"><%= guest.name %></h1>
        <% if (guest.tagline) { %>
        <p class="guest-tagline">...<%= guest.tagline %></p>
        <% } %>
      </div>
      <div class="banner"><%- include('/images/banner.svg') %></div>
    </section>

    <section>
      <p>You are cordially invited to</p>
      <h1 class="headline">Zavid's 25<sup>th</sup><br />Birthday Banquet</h1>
    </section>

    <section>
      <p>Saturday 4th December 2021</p>
      <p>London, United Kingdom</p>
    </section>
  </div>

  <%- include('/templates/partials/footer.ejs') %>
</main>
