<main class="notices">
  <%- include('/templates/partials/header.ejs') %>
  <div class="main">
    <section>
      <h1>Notices</h1>
      <dl>
        <% resources.notices.forEach((rule, key) => { %>
        <dt>
          <table>
            <tr>
              <td>#<%= key + 1 %>)</td>
              <td><%= rule.summary %></td>
            </tr>
          </table>
        </dt>
        <dd>
          <p class="description"><%= rule.description %></p>
          <% if(rule.footnote){ %>
          <p class="footnote"><%= rule.footnote %></p>
          <% } %>
        </dd>
        <% }); %>
      </dl>
    </section>
  </div>
</main>
