<main class="menu">
  <div class="main">
    <section>
      <h2>Starters</h2>
      <ol>
        <% Object.entries(resources.menu.starters).forEach(function ([menuKey,
        menuItem]) { %>
        <li>
          <strong><%= menuKey %>:</strong>
          <span><%= menuItem %></span>
        </li>
        <% }); %>
      </ol>

      <h2>Mains</h2>
      <ol>
        <% Object.entries(resources.menu.mains).forEach(function ([menuKey,
        menuItem]){ %>
        <li>
          <strong><%= menuKey %>:</strong>
          <span><%= menuItem %></span>
        </li>
        <% }); %>
      </ol>

      <h2>Desserts</h2>
      <ol>
        <% Object.entries(resources.menu.desserts).forEach(function ([menuKey,
        menuItem]) { %>
        <li>
          <strong><%= menuKey %>:</strong>
          <span><%= menuItem %></span>
        </li>
        <% }); %>
      </ol>
    </section>
  </div>

  <%- include('/partials/footer.ejs', { images }) %>
</main>
