<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title><%= guest.name %> | Birthday Invite Generator</title>

    <link rel="stylesheet" href="<%= cssFile %>" />
  </head>

  <body>
    <div id="root">
      <%- include('/pages/1-index.ejs', { guest, images }) %>
      <%- include('/pages/2-info.ejs', { contacts, resources }) %>
      <%- include('/pages/2-lists.ejs', { images, lists, guest }) %>
      <%- include('/pages/3-notices.ejs', { resources, images }) %>
      <%- include('/pages/menu.ejs', { resources }) %>
    </div>
  </body>
</html>
