<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title><%= guest.name %> | Birthday Invite Generator</title>

    <link rel="stylesheet" href="<%= cssFile %>" />
  </head>

  <body>
    <div id="root">
      <%- include('/templates/pages/1-index.ejs') %>
      <%- include('/templates/pages/2-information.ejs') %>
      <%- include('/templates/pages/3-lists.ejs') %>
      <%- include('/templates/pages/4-notices.ejs') %>
      <%- include('/templates/pages/5-menu.ejs') %>
    </div>
  </body>
</html>
